.row{
    text-align:center;
    font-size:140%

}
h1{
    text-align:center;
    color:red;
    font-family:Italic;
}
body{
    background-image:url('https://cache.desktopnexus.com/thumbseg/1209/1209608-bigthumbnail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
