@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron{
  color:blue;
  font-family: cursive;
  font-size:bolder;


}
.container{
  background-image:url(https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=bench-carved-stones-cemetery-257360.jpg&fm=jpg)
}
h1{
  color:blue;
  font-size:bolder;
  text-align:center;
}
