@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron{
  color:blue;
  font-family: cursive;
  font-size:bolder;


}
body{
  background-color: antiquewhite;
}
h1{
  color:blue;
  font-size:bolder;
  text-align:center;
}
